# Q:1

In [1]:
import pandas as pd

# Create a pandas Series
data = pd.Series([1, 4, 9, 6, 7], index=['a', 'x', 'c', '2', 'e'])

# Print the Series
print(data)

a    1
x    4
c    9
2    6
e    7
dtype: int64

# Q:2

In [2]:
import pandas as pd

# Create a dictionary with names as keys and ages as values
data = {'Bilal': 42, 'Ayesha': 48, 'Hadia': 39}

# Create a pandas Series from the dictionary
ages_series = pd.Series(data)

# Print the Series
print(ages_series)

Bilal     42
Ayesha    48
Hadia     39
dtype: int64

# Q:3

In [3]:
import pandas as pd

# Create a dictionary with the data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Q:4 In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [4]:
import pandas as pd

# Create a dictionary with the data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create a pandas DataFrame from the dictionary with custom index
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

# Q:5In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”

In [5]:
import pandas as pd

# Create a dictionary with the data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Calculate mean, maximum, and minimum for the 'temperature' column
temperature_mean = df['temperature'].mean()
temperature_max = df['temperature'].max()
temperature_min = df['temperature'].min()

# Print the results
print("Mean Temperature:", temperature_mean)
print("Maximum Temperature:", temperature_max)
print("Minimum Temperature:", temperature_min)

Mean Temperature: 30.333333333333332
Maximum Temperature: 35
Minimum Temperature: 24

# Q 6
: Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
Set the following columns ["Sex", "Job Title"] as index columns
Skip following rows [1,5]
Export the CSV as “NewPeople.csv”

In [7]:
import pandas as pd

# Read the CSV file, skipping rows 1 and 5
people_df = pd.read_csv('people.csv', skiprows=[1, 5], usecols=["First Name", "Sex", "Email", "Phone", "Job Title"])

# Set 'Sex' and 'Job Title' columns as index columns
people_df.set_index(["Sex", "Job Title"], inplace=True)

# Export the DataFrame to a new CSV file named "NewPeople.csv"
people_df.to_csv('NewPeople.csv')

# Optionally, print the DataFrame to verify the changes
print(people_df)

                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

# Q:7
Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
Import sheet 1
Import only first and last column from sheet 1
Skip row 2 while importing the sheet
Set row 2 as header
export as new sheet.

In [9]:
import pandas as pd

# Read the Excel file, skipping row 2 and importing only the first and last column from sheet 1
sample_df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=[0, -1], skiprows=[1])

# Set row 2 as the header
sample_df.columns = sample_df.iloc[0]

# Drop the second row, as it's already set as the header
sample_df = sample_df[1:]

# Export the DataFrame to a new sheet in the same Excel file
sample_df.to_excel('SampleWork.xlsx', index=False, sheet_name='NewSheet')

# Optionally, print the DataFrame to verify the changes
print(sample_df)

0   Bilal
1  Sufyan
2   Saiqa
3   Aimen

# Q:8

In [8]:
import pandas as pd

data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'lhr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc']
}

AICP_DF = pd.DataFrame(data)

print(AICP_DF)

    Name  Age   Address Qualification
0  Sonia   27    Lahore           Msc
1  Bilal   24   Karachi            MA
2  Hifza   22   Sialkot           MCA
3  Kabir   32  Peshawar           Phd
4  jazim   23       lhr           bsc

select 'Name', 'Qualification' coloumns and save to df1

In [9]:
df1 = AICP_DF[['Name', 'Qualification']]

add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]

In [10]:
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

set column “Name” as the index column.

In [11]:
AICP_DF.set_index('Name', inplace=True)
AICP_DF

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Bilal   24   Karachi            MA     6.2
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1

retrieve row with index “Hifza”

In [13]:
hifza_row = AICP_DF.loc['Hifza']
hifza_row

Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

retrieve row with index 3

In [14]:
index_3_row = AICP_DF.iloc[3]
index_3_row

Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

drop row with index “Bilal”

In [15]:
AICP_DF.drop('Bilal', inplace=True)
print(AICP_DF)

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1